<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>CREAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
  <ion-col size="12" size-md="4" offset-md="4" size-sm="6" offset-sm="3">
  <div style="padding-top: 8%;">
    <ion-card>
      <div class="logo" style="padding-top: 4%; padding-bottom: 4%; padding-left: 9%; padding-right: 5%;  display: flex; justify-content: center; text-align: center;">
        <img src="assets/img/logo1.png">
      </div>
      <ion-card-content>
        <form [formGroup] = "formularioRegistrar"> 
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="correo" type="email"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.correo.errors?.required && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El correo es obligatorio</ion-label>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.correo.errors?.email && (formularioRegistrar.touched || formularioRegistrar.dirty)">*Por favor, revise el formato del correo</ion-label>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="usuario"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.usuario.errors?.required && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El usuario es obligatorio</ion-label>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.usuario.errors?.minlength && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El usuario debe tener al menos 5 caracteres</ion-label>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-label >*La contraseña debe tener al menos 8 caracteres</ion-label>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="password2" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de usuario</ion-label>
            <ion-select placeholder="Seleccionar" formControlName="tipousuario">
              <ion-select-option value="Alumno">Alumno</ion-select-option>
              <ion-select-option value="Docente">Docente</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.tipousuario.errors?.required && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El tipo de usuario es obligatorio es obligatorio</ion-label>
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="1950-01-01" max="2030-31-12" value="2002-09-23T15:03:46.789" formControlName="nacimiento"></ion-datetime>
          </ion-item>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.nacimiento.errors?.required && (formularioRegistrar.touched || formularioRegistrar.dirty)">*La fecha de nacimiento es obligatoria</ion-label>
          <ion-item>
            <ion-label style="padding-right: 3%;">Teléfono</ion-label>
            <ion-input  type="number" formControlName="telefono">9</ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.telefono.errors?.required && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El número es obligatorio</ion-label>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.telefono.errors?.min && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El número debe contener 8 dígitos</ion-label>
          <ion-label color="danger" *ngIf="formularioRegistrar.controls.telefono.errors?.max && (formularioRegistrar.touched || formularioRegistrar.dirty)">*El número debe contener 8 dígitos</ion-label>
        </form>
        <br>
        <ion-button expand="block" (click)="registrar()" [disabled]="formularioRegistrar.invalid">Crear Usuario</ion-button>
        <br>
        <ion-button expand="block" routerLink="/crud">Volver al CRUD</ion-button>
      </ion-card-content>  
    </ion-card>
  </div>
  </ion-col>  
  </ion-row> 
</ion-content>
